/*===================== TABLE OF CONTENTS ====================
1. Text CSS
2. Heading CSS
3. Container CSS
========================================================*/

/*------------------------------
1. Text CSS
------------------------------*/
.ui.text.size-textxs {
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
}

.ui.text.size-texts {
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
}

.ui.text {
    color: var(--white_a700);
    font-family: Open Sans;
}

/*------------------------------
2. Heading CSS
------------------------------*/
.ui.heading.size-headingxs {
    font-size: 12px;
    font-weight: 700;
    font-style: bold;
}

.ui.heading.size-headings {
    font-size: 15px;
    font-weight: 700;
    font-style: bold;
}

.ui.heading.size-headingmd {
    font-size: 16px;
    font-weight: 700;
    font-style: bold;
}

.ui.heading.size-headinglg {
    font-size: 42px;
    font-weight: 700;
    font-style: bold;
    @media only screen and (max-width: 1050px) {
        font-size: 38px;
    }
    @media only screen and (max-width: 550px) {
        font-size: 32px;
    }
}

.ui.heading {
    color: var(--white_a700);
    font-family: Open Sans;
}

/*------------------------------
3. Container CSS
------------------------------*/
.container-xs {
    max-width: 930px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}