@font-face {
    font-display: swap;
    font-style: normal;
    src: url("/public/fonts/OpenSans-Bold.ttf");
    font-family: "Open Sans";
    font-weight: 700;
}
@font-face {
    font-display: swap;
    font-style: normal;
    src: url("/public/fonts/OpenSans-Regular.ttf");
    font-family: "Open Sans";
    font-weight: 400;
}