* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v2_2 {
  width: 100%;
  height: 3185px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v9_2 {
  width: 125px;
  height: 43px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 571px;
  left: 192px;
  overflow: hidden;
}
.v2_3 {
  width: 100%;
  height: 721px;
  background: url("../images/v2_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_5 {
  width: 81px;
  height: 80px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 302px;
  left: 249px;
  overflow: hidden;
}
.v2_4 {
  width: 573px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 263px;
  left: 160px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 42px;
  opacity: 1;
  text-align: left;
}
.v2_7 {
  width: 153px;
  height: 49px;
  background: url("../images/v2_7.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 54px;
  left: 147px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v2_9 {
  width: 61px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 46px;
  left: 872px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v2_10 {
  width: 56px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 46px;
  left: 757px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v2_12 {
  width: 82px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 46px;
  left: 647px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v2_14 {
  width: 212px;
  height: 192px;
  background: url("../images/v2_14.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 168px;
  left: 777px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v2_15 {
  width: 212px;
  height: 192px;
  background: url("../images/v2_15.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 266px;
  left: 872px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v2_17 {
  width: 212px;
  height: 192px;
  background: url("../images/v2_17.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 346px;
  left: 905px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v2_19 {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 721px;
  left: 0px;
  overflow: hidden;
}
.v2_20 {
  width: 963px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 894px;
  left: 239px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v2_30 {
  width: 911px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2022px;
  left: 265px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v2_21 {
  width: 380px;
  height: 299px;
  background: url("../images/v2_21.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1132px;
  left: 255px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v2_22 {
  width: 518px;
  height: 299px;
  background: url("../images/v2_22.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1556px;
  left: 667px;
  overflow: hidden;
}
.v2_25 {
  width: 472px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1132px;
  left: 685px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v2_27 {
  width: 318px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1594px;
  left: 255px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v2_26 {
  width: 500px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1197px;
  left: 685px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v2_29 {
  width: 360px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1659px;
  left: 255px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v2_32 {
  width: 735px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2236px;
  left: 353px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v2_34 {
  width: 735px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2988px;
  left: 350px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v2_33 {
  width: 476px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2428px;
  left: 482px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v2_38 {
  width: 92px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 471px;
  left: 199px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v8_39 {
  width: 118px;
  color: rgba(244,244,244,1);
  position: absolute;
  top: 478px;
  left: 195px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v8_86 {
  width: 347px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3143px;
  left: 152px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
